@(pagename:String,user: models.users.User)(content:Html)
<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
	    .footer { font-weight: bold; color: white; background-color: rgb(146, 0, 0); }
	    .sidecol { font-weight: bold; background-color: rgba(231, 170, 255, 0.445); }
	    .sidecol h2 { font-weight: bold; color: rgb(155, 0, 0)}
	    .midcol h1 { text-align: center; font-weight: bold; color:peru}
	    .midcol h3 { text-align: center; color: rgb(128, 0, 0); }
	    .redtext { color: rgb(136, 0, 0); }
	</style>
	<title>Software-CA @pagename</title>
    </head>
    <body>

		<img src="@routes.Assets.versioned("images/banner.png")" width="100%" height = "300">

	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <a class="navbar-brand" href="#">Software-CA</a>
		</div>
		<ul class="nav navbar-nav">
            <li @if(pagename == "Home") {class="active"}><a href="@routes.HomeController.index()">Home</a></li>
		    <li @if(pagename == "On Sale") {class="active"}><a href="@routes.HomeController.onsale()">Projects</a></li>
			<li @if(pagename == "Register") {class="active"}><a href="@routes.LoginController.registerUser()">Website Sign Up</a></li>
			@if((user != null) && ("admin".equals(user.getRole()))) {
				<li @if(pagename == "Administrators") {class="active"}><a href="@routes.HomeController.usersAdmin()">View Admin</a></li>
				<li @if(pagename == "Employees") {class="active"}><a href="@routes.HomeController.usersCustomer()">View Employees</a></li>

			}
			
			
			<li @if(pagename == "Log In") {class="active"}>
				@if(user != null) {
					<a href="@routes.LoginController.logout()">Log Out</a>
				} else {
					<a href="@routes.LoginController.login()">Log In</a>
			</li>
} 
		</ul>
	    </div>
	</nav>

	<div class="container-fluid">
	    <div class="row">
		<div class="col-sm-2">
		    <div class="well sidecol">
			<h2>PROJECTS DUE</h2>
			<h3>News</h3>
			<p>	Projects must be handed in and completed before the <span class="redtext">3rd of March 2019</span>, please make sure to submit all completed work.</span>.
		    </div>
		</div>
		<div class="col-sm-8">
		    <div class="midcol">
			@content
		    </div>
		</div>
		</div>
	    </div>
	    <div class="row">
		<div class="col-sm-12">
		    <div class="well footer">
			2019 Software-CA.
		    </div>
		</div>
	    </div>
	</div>
	<script src ="@routes.Assets.versioned("javascripts/main.js")"></script>
    </body>
</html>


